body {
    background-color: #F5F5F5;
}

h1 {
  color: 	#CD5C5C;
  text-align: center;
  font-family: fantasy, tahoma;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

p {
  color: black;
  text-align: justify;
  font-family: verdana;
  font-size: 14px;
}

a {
  color: black;
}

h3, h4 {
  margin-top: 40px;
  vertical-align: top;
  margin-bottom: 0px;
  font-family: fantasy;
  font-size: 23px;
  color: 	#CD5C5C;
  text-transform: uppercase;
  text-align: center;
  padding-left: 290px;
}

.General {
  width: 500px;
  border: 0.5px solid #DB7093;
  padding: 1px 10px 3px 15px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #D8BFD8;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#página{
  text-align: left;
  width: 1300px;
  margin: auto;}

#izquierda{
  width: 400px;  /*Ancho cholumna*/
  background-color: #F5F5F5;
  float:left;
}

#derecha{
  margin-left:410px; /*Margen*/
  background-color: #F5F5F5;
}

.vl {
  border-left: 1px solid #DB7093;
  height: 520px;
  position: absolute;
  left: 35%;
  top: 110px;
}

img {
  width: 350px;
  height: 250px;
  float: right
}

.icon {
  height: 25px;
  width: 25px;
  float: right;
}

.contacto {
  text-align: right;
}
